
<title>Textbook App</title>	
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/flatly/bootstrap.min.css" rel="stylesheet">
<link href="css/introHCI.css" rel="stylesheet">
<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet">-->
<!--<link href="css/tables.css" rel="stylesheet">-->