<!doctype html>

<html>
<head>
{{> header_code}}
</head>
<body>

	<div class=container>
		{{>navbar_code}}
	<div align="left">
		<input type="button" class="btn btn-sm backbutton" onclick="history.back();"  value="Back"> 
	</div>	

	<div align="center">
		<h2> <strong>I'd like to buy... </strong></h2><br>
		<h4><em>Search by: </em></h4>
		<form method="POST" action="search_offers">
				
			<div style="float:left">Title: </div><input type="text" name="title"><div style="float:right">  <button class="GoButton" >Go!</button></div><br><br>
				
			<div style="float:left">Author: </div><input type="text" name="author"> <div style="float:right"><button class="GoButton" >Go!</button></div><br><br>
				
			<div style="float:left">ISBN: </div><input type="text" name="isbn"> <div style="float:right"><button class="GoButton" >Go!</button></div><br><br>
				
			<div style="float:left">Course: </div><input type="text" name="course"> <div style="float:right"><button class="GoButton" >Go!</button></div><br><br><br><br>


			<input type="hidden" name="username" value="{{username}}"> 
			

		</form>
		<form method="POST" action="display_offers">
			<input type="hidden" name="username" value="{{username}}"> 
			<button id="ViewAllOffersButton" class="btn btn-success" >See all posted books!</button>
		</form>
	<div>
	<br>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>



</html>
<script>
</script>