<!doctype html>

<html>
<head>
	<title>Textbook App</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/introHCI.css" rel="stylesheet">
    
</head>

<body>
	<div align="left">
		<input type="button" class="btn btn-sm" onclick="history.back();"  value="Back"> 
	</div>	
	
	<div align="center">
		<h1> Create an Account </h1>
		<form method="POST" action="create_account">
			Username: <input type="text" name="username"> <br>
			Password: <input type="password" name="pass"> <br>
			Confirm Password: <input type="password" name="pass"> <br>
			<p></p>
			<input type="submit" value="Create Account"> 
		</form>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>
</html>
<script>
</script>