<!doctype html>

<html>
<head>
	<title>Textbook App</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<!--<link href="css/introHCI.css" rel="stylesheet"> -->
	<link href="css/login.css" rel="stylesheet">
		{{>tracking_code_script}}
	<!-- this is a comment in HTML -->
	{{> tracking_code_script}}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

	<div align="center" class="jumbotron">
		
			<h1>Triton Textbook Exchange </h1>
		{{errorStr}}
		<form method="POST" action="verifyAccount">
			Username: <input type="text" name="username"> <br>
			Password: <input type="password" name="pass"> <br>
			<p></p>
			<input type="submit" value="Log In"> 
		</form>
		<form method="GET" action="create_account">
			<input type="submit" value="Create an Account">
		</form>
	</div>
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>



</html>
