<!doctype html>

<html>
<head>
	{{> header_code}}
	<link href="css/login.css" rel="stylesheet">
       
</head>

<body>

	<div align="center" class="jumbotron">
		
			<h1> </h1>
		{{errorStr}}
		<form method="POST" action="verifyAccount">
			<br><br><h3>Username:</h3> <input type="text" name="username"> <br>
			<h3>Password:</h3> <input type="password" name="pass"> <br>
			<p></p>
			<button class="btn-primary" value="Log In!" id="loginbutton">Log in!</button>
		</form>
		<form method="GET" action="create_account">
			<button class="btn-primary" value="Create an Account" id="createaccountbutton">Create an Account</button>
		</form>
	</div>
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>



</html>
