<!doctype html>

<html>
<head>
{{> header_code}}
</head>
<body>

	<div class=container>

{{>navbar_code}}

	<div align="left">
		<input type="button" class="btn btn-sm backbutton" onclick="history.back();"  value="Back"> 
	</div>	

	<div align="center">
		<h3> What book would you like to sell? </h3>
		<h5><em>You don't have to input all the fields if you don't want to!</em></h5><br>
		<form method="POST" action="insert_offer">
			<div style="float:left"><h4>Title: </h4></div><div style="float:right"><input type="text" name="title"> </div><br><br>
			<div style="float:left"><h4>Author: </h4></div><div style="float:right"><input type="text" name="author"></div> <br><br>
			<input type="hidden" name="seller" value="{{username}}">
			<div style="float:left"><h4>ISBN: </h4></div><div style="float:right"><input type="text" name="isbn"></div> <br><br>
			<div style="float:left"><h4>Course: </h4></div><div style="float:right"> <input type="text" name="course"></div><br> <br>
			<div style="float:left"><h4>Condition: </h4></div><div style="float:right"><input type="text" name="condition"> </div><br><br>
			<div style="float:left"><h4>Image URL: <h4></div><div style="float:right"><input type="text" name="imageurl"></div><br><br>
			<div style="float:left"><h4>Asking Price: <h4></div><div style="float:right"><input type="text" name="price"></div><br><br><br>

			When can you meet up with your buyer?<br>

			Location: <select name="location">
					     <option value="Price Center">Price Center</option>
					     <option value="Police Station">Police Station</option>
					     <option value="Geisel">Geisel</option>
					     <option value="Off campus/Other">Off campus/Other</option>
			          </select> <br>
			<input type="hidden" name="username" value="{{username}}">

			<table class="data-grid table table-striped table-bordered purchasestable">
				<thead>
					<tr>
						<th></th>
						<th></th>
					</tr>
				</thead>
					<tr>
						<td><input type="checkbox" name="sunday-checkbox" value="Sunday">Sunday  </td>
				        <td><input type="text" name="sunday-av"></td> 
				    </tr>
				    <tr>
				    	<td><input type="checkbox" name="monday-checkbox" value="Monday">Monday </td>
				    	<td><input type="text" name="monday-av"></td>
				    </tr>
				    <tr>
				    	<td><input type="checkbox" name="tuesday-checkbox" value="Tuesday">Tuesday </td>
				    	<td><input type="text" name="tuesday-av"></td>		    	
				    </tr>
				    <tr>
				    	<td><input type="checkbox" name="wednesday-checkbox" value="Wednesday">Wednesday </td>
				    	<td><input type="text" name="wednesday-av"></td>		    	
				    </tr>
				    <tr>
				    	<td><input type="checkbox" name="thursday-checkbox" value="Thursday">Thursday </td>
				    	<td><input type="text" name="thursday-av"></td>		    	
				    </tr>
				    <tr>
				    	<td><input type="checkbox" name="friday-checkbox" value="Friday">Friday </td>
				    	<td><input type="text" name="friday-av"></td>		    	
				    </tr>		    
				    <tr>
				    	<td><input type="checkbox" name="saturday-checkbox" value="Saturday">Saturday </td>
				    	<td><input type="text" name="saturday-av"></td>		    	
				    </tr>
			</table> 
			<button id="SendPost" style="display: none;"></button>
		</form>
		<br><button id="PostOfferButton" class="btn btn-success" onclick=confirmWindow()>Post My Book!</button>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</div>
</body>
</html>

<script>
	function confirmWindow() {
		var confirmed = confirm("Confirm post offer?");
		if(confirmed) {
			$("#SendPost").click();
		}
	}
</script>