

.jumbotron {
	position: relative;
	background: url("../images/Textchange2.jpg") no-repeat center center;
    background-size: 100% 100%;


}

.jumbotron:after {
     content:"";
     background: url("../images/Textchange2.jpg");
     opacity: 0;
     top: 100;
     left: 100;
     bottom: 100;
     right: 100;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

