/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */


.jumbotron {
    font-family: Tahoma, sans-serif;
 /*   color: #ffffff;*/
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

/*.jumbotron p {
     color: #6e6e6e;
}*/

.project a {
     text-align: center;
}

#content {
    position:absolute;
    width:780px;
    height:650px;
    left:50%;
    top:50%;
    margin-left:-390px;
    margin-top:-325px;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;    
}

body {
    background-image: url("../images/login2.jpg");
   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; 
}

h1{
 font-family: Tahoma, sans-serif;

}
/*
div form{
background-color: transparent;

}*/

h3 {
    color: #000000;
    font-family: Tahoma, sans-serif;
}

