h3 {
	color: #434D53;
	font-family: Tahoma, sans-serif;
}

.backbutton{
    background: #F32515;
    color: white;
}

.purchasestable{
	color: #434D53;
	font-family: Tahoma, sans-serif;
	border: 1.5px #F32515;
}

.salestable{
	color: #434D53;
	font-family: Tahoma, sans-serif;
	border: 1.5px #F32515;

}

.pendingsalestable{
	color: #434D53;
	font-family: Tahoma, sans-serif;
	border: 1.5px #F32515;

}

th {
	background-color: #F32515;
	color: white;
}
